* {
    padding: 0;
    margin: 0;
    list-style: none;
    box-sizing: border-box;
    text-decoration: none;
}

body {
    background-color: white;
}

nav {
    background: #0082e6;
    height: 80px;
    font-family: 'Courier New', Courier, monospace;
    width: 100%;
}

label.logo {
    color: white;
    font-size: 35px;
    line-height: 80px;
    padding: 0 100px;
    font-weight: bold;
}

button {
    background: none;
    color: #ccc;
    width: 200px;
    background: #b10d0d;
    height: 80px;
    border: 4px solid #FFFFFF;
    font-family: 'Arial', Arial;
    font-size : 25px;
    padding: 3px;
    border-radius: 4px;
}

input {
    height: 35px;
    width: 150px;
    font-size: 20px;
    color: #ffffff;
    background-color: #88ffd7
}
