* {
    padding: 0;
    margin: 0;
    list-style: none;
    box-sizing: border-box;
    text-decoration: none;
}

body {
  background-image: url("background.jpg");
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.title-page {
  font-family: Trebuchet;
}

label.logo {
    color: white;
    font-size: 35px;
    line-height: 80px;
    padding: 0 100px;
    font-weight: bold;
}

#goto {
  margin-bottom: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  padding: 20px;
  margin: 0;
  align-items: center;
}

h2 {
  font-size: 90px;
  text-align: center;
  font-family: 'Gill Sans', 'Gill Sans MT', 'Trebuchet MS', sans-serif;
  color: white;
  margin-bottom: 10px;
  letter-spacing: 3px;
}

#goto h3 {
  margin-bottom: 10px;
  font-size: 90px;
  font-family: 'Gill Sans', 'Gill Sans MT', 'Trebuchet MS', sans-serif;
  color: white;
  letter-spacing: 3px;
}

#inputs {
  margin-top: -100px;
}

#special {
  margin:15px;
  margin-top: 0px;
}

::placeholder { 
  color: white;
  opacity: 1; 
}

button {
    width: 300px;
    background: #3fb10a;
    height: 60px;
    border-radius: 2px;
    font-family: 'Tahoma';
    font-size : 20px;
    padding: 5px;
    outline: none;
    margin: 10px;
    margin-top: -120px;
    margin-bottom: 10px;
}

button:hover {
  background: white;
  transform: scale(1.1);
}


a {
  text-decoration: none;
  color: white;
}


/*  */


#inputs {
  display: flex;
  flex-direction: column;
  width: 700px;
  color: white;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100vh;
  margin-bottom: 10px;
}

#inputs h2 {
  font-size: 50px;
  font-family: monospace;
  color: white;
  margin: 10px;
  letter-spacing: 3px;
  margin-bottom: 10px;
}

input {
  margin: 30px;
  padding: 12px 30px;
  background-color: #1f801f;
  color: white;
  outline: none;
  font-family: 'Tahoma';
  border-radius: 15px;
  margin-bottom: 10px;
}

#outputs {
  display: flex;
  flex-direction: column;
  width: 700px;
  color: black;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100vh;
}

output {
  font-family: Arial;   
  margin: 50px;
  padding: 15px 15px;
  background-color: #1f801f;
  color: black;
  outline: none;
  border-radius: 15px;
}


.zoom-without-container {
  display: flex;
  justify-content: center;
  align-items: center;
}
