* {
    padding: 0;
    margin: 0;
    list-style: none;
    box-sizing: border-box;
    text-decoration: none;
}

body {
    background-color: black;
    background-image: url("background.png")
}

body.per-table{background-image:url(black.jpg);}

nav {
    background: #0082e6;
    height: 80px;
    font-family: 'Courier New', Courier, monospace;
    width: 100%;
}

label.logo {
    color: white;
    font-size: 35px;
    line-height: 80px;
    padding: 0 100px;
    font-weight: bold;
}

#goto {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  padding: 20px;
  margin: 0;
  align-items: center;
}

#goto h3 {
  font-size: 50px;
  font-family: monospace;
  color: white;
  letter-spacing: 3px;
}

button {
    background: none;
    color: #ccc;
    box-shadow: 2px 4px 6px 8px black;
    width: 300px;
    background: #b10d0d;
    height: 80px;
    border-radius: 25px;
    border: 2px solid #FFFFFF;
    font-family: 'Arial', Arial;
    font-size : 25px;
    padding: 10px;
    outline: none;
    margin: 15px;
}

button:hover {
  background: #0082e6;
  transform: scale(1.1);
}


a {
  text-decoration: none;
  color: white;
}


/*  */


#inputs {
  display: flex;
  flex-direction: column;
  width: 700px;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100vh;
}

#inputs h2 {
  font-size: 50px;
  font-family: monospace;
  color: #3f6d8a;
  margin: 10px;
  letter-spacing: 3px;
}

input {
  margin: 30px;
  padding: 12px 20px;
  background-color: #88ffd7;
  color: black;
  outline: none;
  border-radius: 20px;
}

#outputs {
  display: flex;
  flex-direction: column;
  width: 700px;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100vh;
}

output {
  font-family: Arial;   
  margin: 50px;
  padding: 15px 15px;
  background-color: #d1a823;
  color: black;
  outline: none;
  border-radius: 15px;
}
